<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boolzapp</title>
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div id="app" class="container">
        <!-- contenitore sx -->
        <div class="left">
            <div class="header-left">
                <div class="header-left-logo">
                    <img src="img/avatar_io.jpg" alt="Immagine profilo">
                    <span>Sofia</span>
                </div>
                <div class="header-left-icons">
                    <i class="fas fa-circle-notch"></i>
                    <i class="fas fa-comment-alt"></i>
                    <i class="fas fa-ellipsis-v"></i>
                </div>
            </div>
            <div class="left-disclaimer">
                <div class="left-disclaimer-logo">
                    <i class="fa fa-bell-slash" aria-hidden="true"></i>
                </div>
                <div class="left-disclaimer-text">
                    <h3>Ricevi notifiche di nuovi messaggi</h3>
                    <a href="#">Attiva notifiche desktop</a>
                </div>
            </div>
            <div class="left-searchbar">
                <label class="search-label" for="search">
                    <i class="fa fa-search" aria-hidden="true"></i>
                </label>
                <input id="contacts-filter" class="left-searchbar-input" placeholder="Cerca o inizia una nuova chat" name="search">
            </div>
            <div class="contacts">
                <div class="contact" v-for="contact in contactsWithLastMessage" :key="contact.name">
                    <div class="contact-logo">
                        <img :src="contact.avatar" :alt="contact.name">
                    </div>
                    <div class="contact-info">
                        <h3>
                            <span class="contact-name">{{ contact.name }}</span>
                            <span class="time f-right">{{ contact.lastMessageTime }}</span>
                        </h3>
                        <small>{{ contact.lastMessage }}</small>
                    </div>
                </div>
            </div>
        </div>
        <!-- /contenitore sx -->

        <!-- contenitore dx -->
        <div class="right">
            <div class="header-right">
                <div class="header-right-logo">
                    <img src="img/avatar_1.jpg" alt="Immagine profilo">
                    <h3>
                        <span id="header-right-contact-name">{{ activeContact.name}}</span> <br>
                        <small class="time">Ultimo accesso oggi alle 12:00</small>
                    </h3>
                </div>
                <div class="header-right-icons">
                    <i class="fas fa-search"></i>
                    <i class="fas fa-paperclip"></i>
                    <i class="fas fa-ellipsis-v"></i>
                </div>
            </div>
            <div class="right-messages-container">
                <div class="right-messages">
                    <div v-if="activeContact" class="right-messages-container">
                        <div v-for="message in activeContact.messages" :key="message.date" class="message" :class="{ 'sent': message.status === 'sent', 'received': message.status === 'received'}">
                            {{ message.message }}
                            <span class="message-time">{{ message.date }}</span>
                        </div>
                    </div>
                    <div v-else class="right-messages-container">
                        <p class="no-active-contact">Seleziona un contatto per iniziare a chattare</p>
                    </div>
                </div>
            </div>
            <div class="right-footer">
                <div class="right-footer-icon f-left">
                    <i class="far fa-smile"></i>
                </div>
                <input class="new-message-inputs" placeholder="Scrivi un messaggio">
                <div class="right-footer-icon f-right">
                    <i class="fa fa-microphone" aria-hidden="true"></i>
                </div>
            </div>
        </div>
        <!-- /contenitore dx -->
    </div>

    <!-- Script Vue.js e main.js -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script src="main.js"></script> 
</body>
</html>
