* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-image: linear-gradient(to bottom, #009688 0px, #009688 15vh, #dddbd1 15vh, #d2dbdc 100%);
  font-family: 'Lato', sans-serif;
}

.f-right {
  float: right;
}

.f-left {
  float: left;
}

.z-index-100 {
  z-index: 100;
}

.container {
  margin: auto;
  width: 80%;
  min-width: 950px;
  height: 95%;
}

.left,
.right {
  float: left;
  height: 100%;
}

.left {
  width: 35%;
  background: #F8F8F8;
  border-right: 1px solid #D6D6D6;
}

.right {
  width: 65%;
}

.header-left,
.header-right {
  width: 100%;
  height: 70px;
  background: #EAEAEA;
}

.header-left .header-left-logo,
.header-left .header-left-icons,
.header-right .header-right-logo,
.header-right .header-right-icons {
  display: flex;
  align-items: center;
  cursor: pointer;
  width: 50%;
  height: 100%;
}

.header-left .header-left-logo h3 {
  margin-left: 5px;
  font-size: 90%;
}

.header-left .header-left-logo img,
.header-right .header-right-logo img {
  width: 50px;
  height: 50px;
  margin: auto 0 auto 10px;
  border-radius: 100%;
}

.header-left .header-left-logo,
.header-right .header-right-logo {
  float: left;
}

.header-left .header-left-icons,
.header-right .header-right-icons {
  float: right;
  width: auto;
  margin-right: 15px;
  text-align: right;
}

.header-left .header-left-icons i,
.header-right .header-right-icons i {
  margin: auto 10px;
  color: rgb(177, 177, 177);
  font-size: 22px;
}

.header-right h3 {
  margin-left: 15px;
  font-size: 16px;
  font-weight: normal;
}

.header-right h3 small {
  color: #6B7376;
}

.left-disclaimer {
  display: flex;
  width: 100%;
  height: 80px;
  background: #8EDAFC;
}

.left-disclaimer .left-disclaimer-logo {
  width: 50px;
  height: 50px;
  margin: auto 0 auto 20px;
  background: #F2FBFF;
  border-radius: 100%;
  text-align: center;
  color: #8EDAFC;
  line-height: 50px;
}

.left-disclaimer .left-disclaimer-text {
  width: calc(100% - 90px);
  height: 100%;
  margin: auto;
  padding-left: 20px;
}

.left-disclaimer .left-disclaimer-text h3 {
  width: 100%;
  height: auto;
  margin: 10px 0 5px 0;
  font-size: 14px;
  font-weight: 300;
}

.left-disclaimer .left-disclaimer-text a {
  display: block;
  width: 100%;
  height: auto;
  font-size: 14px;
  color: white;
}

.left-searchbar {
  display: flex;
  width: calc(100% - 40px);
  height: 40px;
  margin: 10px auto;
  border-radius: 3px;
  background: #FFFFFF;
}

.left-searchbar .search-label {
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
}

.left-searchbar .search-label i {
  color: #C4C4C4;
}

.left-searchbar-input {
  width: calc(100% - 40px);
  height: 36px;
  padding-left: 10px;
  border: 0;
  border-radius: 3px 0px 0px 3px;
}

.left-icons {
  display: flex;
  width: 36px;
  height: 36px;
  margin: auto;
  text-align: center;
  color: #B6B9BB;
  line-height: 36px;
}

.contacts {
  overflow: scroll;
  width: 100%;
  height: calc(100% - 250px);
}

.contact {
  display: flex;
  width: 100%;
  height: 70px;
  padding: 0 15px;
  cursor: pointer;
  background: #FFFFFF;
  border-bottom: 1px solid #F2F2F2;
}

.contact-logo img {
  width: 50px;
  height: 50px;
  margin: auto 0;
  border-radius: 100%;
}

.contact-info {
  width: calc(100% - 50px);
  height: 100%;
  margin: auto;
  padding-left: 15px;
  border-bottom: 1px solid #F5F5F5;
}

.contact-info h3 {
  width: 100%;
  height: auto;
  margin: 12px 0 0 0;
  font-size: 16px;
}

.contact-info h3 .time {
  color: #6B7376;
  font-size: 13px;
}

.contact-info small {
  font-size: 13px;
  color: #B6B9BB;
}

.right-messages-container {
  width: 100%;
  height: calc(100% - 120px);
  overflow-y: scroll;
}

.right-messages-container .right-messages {
  width: 95%;
  height: auto;
  margin: 0 auto;
  padding: 10px 0;
}

.right-messages-container .right-messages .message {
  display: block;
  max-width: 60%;
  padding: 8px;
  margin: 5px 0;
  font-size: 14px;
  background: #FFFFFF;
  border-radius: 0 10px 10px 10px;
  position: relative;
}

.right-messages-container .right-messages .message.sent {
  margin-left: auto;
  background: #DCF8C6;
  border-radius: 10px 0px 10px 10px;
}

.right-messages-container .right-messages .message.received {
  margin-right: auto;
  margin-right: auto;
  background: #ffff; 
  border-radius: 0px 10px 10px 10px;
}

.right-messages-container .right-messages .message span.message-time {
  display: block;
  margin-top: 3px;
  font-size: 10px;
  color: #AAA7A7;
  text-align: right;
}

.right-footer {
  display: flex;
  width: 100%;
  height: 50px;
  background: #FAFAFA;
}

.right-footer .right-footer-icon {
  width: 45px;
  height: 50px;
  margin: auto;
  text-align: center;
  color: #B6B9BB;
  line-height: 50px;
}

.right-footer .right-footer-icon i {
  font-size: 20px;
}

.right-footer .new-message-inputs {
  width: calc(100% - 90px);
  height: 36px;
  margin: auto;
  padding: 0 10px;
  border: 1px solid #F2F2F2;
  border-radius: 3px;
  color: #B6B9BB;
}

.no-active-contact {
  text-align: center;
  padding-top: 50%;
  color: #6B7376;
}

